@CHARSET "UTF-8";
#main_wrap{
	width:1024px; /*폭 지정*/
	height:960px; /*높이 */
	font-family : 맑은 고딕;
	margin-left:auto; margin-right:auto; /* div 중앙정렬*/
	margin-top:-50px; /*바깥 상단 여백 지정 */
	border:1px solid blue; /* 테두리 실선 하늘색으로 그린다.*/
	border-radius:20px; /*css3 에 새롭게 추가된 명령어로 테두리를 둥글게 */
}
#header{
	width:1004px; height:200px; 
	margin:10px 0 0 10px; /*시계방향으로 위,오른쪽,아래쪽,왼쪽, 바깥 여백 설정 */
	border:1px solid red;
	border-radius:15px;
}
#logo{
	width:240px; height:180px;
	margin:10px 0 0 10px;
	border:1px solid blue;
	border-radius:10px;
	float:left; /*div 안의  div를 수직정렬에서 수평정렬로 바꾼다. 아주중요*/
}
#top_menu{
	width:500px; height:180px;
	margin:10px 0 0 10px;
	border:1px solid blue;
	border-radius:10px;
	float:left;
}
#top_login{
    width:220px; height:180px;
    margin:10px 0 0 10px;
    border:1px solid blue; border-radius:10px;
    float:left;	
     /* 사람 이미지 추가 추가 */
    background: url(../images/logo.png); 
	background-repeat:no-repeat;
	background-position : center right;    
}

.clear{
	clear:both;
	/*div 영역간 간섭을 없앰 */
}

/* 사용자 단 페이지 영역 디자인 */
#site{ 
   position : relative;   /*상대적 위치 지정 */
   top : 60px;    /*상단 위치 */
}
#site h3{ /* hgroup태그의 h1 태그 디자인 */	
	color : #BD5C24;     /* 제목 글자색 지정 */
	text-shadow:1px 2px 2px #F2CB61; /* 텍스트 그림자 지정 */
	font-size:24px;
	font-family : 맑은 고딕;	
}

#article{
	width:1004px; height:600px; 
	margin-left:auto; margin-right:auto;
	margin-top:10px;
	border:1px solid red;
	border-radius:15px;
}
.article_cont{  /* 메인 내용 */
	margin:30px 0 0 60px;
	font-size:16pt;
}
#left_menu{
	width:240px; height:580px;
	margin:10px 0 0 10px;
	border:1px solid blue; 
	border-radius:10px;
	float:left;
}

#article_c{
    width:730px; height:580px;
    margin:10px 0 0 10px;
    border:1px solid blue; border-radius:10px;
    float:left;	    
}
#footer{
	width:1004px; height:114px;
	margin-left:auto; margin-right:auto;
	margin-top:10px; 
	border:1px solid red; border-radius:15px;
}

#logo img{
  margin:20px 0 0 20px;	
}
#top_menu ul li{
	list-style:none; /*목록앞 점 없애기 */
    float:left; /*목록 수직정렬을 수평정렬로 */
    margin:100px 0 0 12px;
    padding:0 45px 0 0;/*안여백을 설정 시계방향으로 위,오른쪽,아래쪽,왼쪽*/
}

a:link{text-decoration:none; }/*하이퍼링크 된곳 밑줄없앰 */
a:hover{
	text-decoration:underline; /*하이퍼링크 된곳 마우스 오버시
	밑줄 나오게 함*/
}
a:active{
	text-decoartion:none;/*하이퍼링크 된곳 클릭하는 순간 밑줄 없애기 */
}
a:visited{
	text-decoration:none;/*하이퍼링크 된곳 한번이라도 방문 한곳 밑줄
	없애기*/
}

#top_login ul li{
	 list-style:none;
	 font-size:9pt; /*글자 크기 조절 */
	 float:left;
	 padding:0 10px 0 0;
	 margin:0 0 0 8px;
}

#login_t{
	margin:40px 0 0 20px;
}

#login_t th{
	background:skyblue; border-radius:10px;
}
.input_box{
	border-radius:10px; padding:2px;
	border:1px solid blue;
}

.input_box:hover{ /* 마우스 오버  시 이벤트 발생*/
	background:#ccc; /* 배경색 */
}
#login_menu{
	margin:15px 0 0 30px;	
}
.input_b:hover{
	cursor:hand; cursor:pointer; /* 마우스 오버시 손가락 모양 */
	border:1px solid red;
	border-radius:10ox; padding:2px; /* 상하좌우 안 여백 설정 */
	font-weight:bold; /* 글자를 진하게 */
}
#footer .footer_title{
	margin:43px 0 0 150px; font-size:15px;
}



